body {
  background-color: #333333;
  color: white;
  margin: 0;
}

.layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto min-content;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
